{
	"printWidth": 120,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"semi": true,
	"useTabs": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-classnames",
		"prettier-plugin-merge"
	],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/public/(.*)$",
		"^@/app/_features/(.*)$",
		"^@/app/_components/(.*)$",
		"^@/utils/(.*)$",
		"^[./]"
	],
	"importOrderSortSpecifiers": true,
	"importOrderSeparation": true
}
